@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
  /* Primary */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--Light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main{
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  padding: 100px 50px;
  grid-template-areas: "one one two five" "three four four  five";
}
.box{
  padding: 30px;
  border-radius: 10px;
}
.box:nth-child(1),
.box:nth-child(2), 
.box:nth-child(4){
  color: white;
}
.box:nth-child(3), 
.box:nth-child(5){
  color:var(--Very-dark-grayish-blue)
}
.box .profile{
  display: flex;
  align-items: center;
}
.box .profile img{
  border-radius: 50%;
  width: 40px;
}
.box .profile .info {
  margin-left: 15px;
}
.box .profile .info h1{
  font-size: 15px;
}
.box .profile .info p{
  font-size: 14px;
  color: var(--Light-gray);
}
.box .text{
  margin-top: 20px;
}
.box .text h2{
  margin-bottom: 20px;
  font-size: 23px;
}
.box .text p{
  font-size: 16px;
  line-height: 1.5;
}
.box:nth-child(1) .text p,
.box:nth-child(2) .text p, 
.box:nth-child(4) .text p{
  color: var(--Light-gray);
}

.box:nth-child(1){
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 80%;
  background-color: var(--Moderate-violet);
  grid-area: one;
}
.box:nth-child(2){
  grid-area: two;
  background-color: var(--Very-dark-grayish-blue);
}
.box:nth-child(3){
  grid-area: three;
  background-color: var(--White);
}
.box:nth-child(4){
  grid-area: four;
  background-color: var(--Very-dark-blackish-blue);
}
.box:nth-child(5){
  grid-area: five;
  background-color: var(--White);
}
.attribution{
  margin-bottom: 10px;
}
.attribution a{
  text-decoration: none;
  color: var(--Very-dark-grayish-blue);
}
@media (max-width:991px) {
  main{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: "one" "two" "three" "four" "five";
    padding: 50px 20px;
  }
  .box .text h2{
    font-size: 21px;
  }
  .box .text p{
    font-size: 14px;
  }
}